
<div class="product">
    <h1>Popular Products</h1>
    <div class="product_box">
        <div class="img_box">
            <span></span>
            <a href="productdetail.html"><img src="images/product/01.jpg" alt="image" /></a>
        </div>
        <h2><a href="productdetail.html">Product One</a></h2>
        <p class="price">$30</p>
    </div>
    <div class="product_box">
        <div class="img_box">
            <span></span>
            <a href="productdetail.html"><img src="images/product/02.jpg" alt="image" /></a>
        </div>
        <h2><a href="productdetail.html">Product One</a></h2>
        <p class="price">$30</p>
    </div>
    <div class="product_box">
        <div class="img_box">
            <span></span>
            <a href="productdetail.html"><img src="images/product/03.jpg" alt="image" /></a>
        </div>
        <h2><a href="productdetail.html">Product One</a></h2>
        <p class="price">$30</p>
    </div>
    <div class="product_box">
        <div class="img_box">
            <span></span>
            <a href="productdetail.html"><img src="images/product/04.jpg" alt="image" /></a>
        </div>
        <h2><a href="productdetail.html">Product One</a></h2>
        <p class="price">$30</p>
    </div>
</div>